PACKAGE_NAME="{{MODULE_NAME}}"
PACKAGE_VERSION="{{MODULE_VERSION}}"
BUILT_MODULE_NAME[0]="{{MODULE_NAME}}"
DEST_MODULE_LOCATION[0]="/updates/dkms"
AUTOINSTALL="yes"
MAKE[0]="make -C ${kernel_source_dir} M=${dkms_tree}/${PACKAGE_NAME}/${PACKAGE_VERSION}/build"
CLEAN="make -C ${kernel_source_dir} M=${dkms_tree}/${PACKAGE_NAME}/${PACKAGE_VERSION}/build clean"
