Format: https://www.debian.org/doc/packaging-manuals/copyright-format/1.0/
Upstream-Name: {{PKG_NAME}}
Source: {{UPSTREAM_URL}}

Files: *
Copyright: {{YEAR}} Qualcomm Technologies, Inc.
License: {{LICENSE}}

Files: debian/*
Copyright: {{YEAR}} {{MAINTAINER}}
License: {{LICENSE}}

License: {{LICENSE}}
 {{LICENSE_TEXT}}
